@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


.container{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.table {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;

}

.table thead{
  background-color: #f2f2f2;
}

.table td, .table th {
  padding: 8px;
  text-align: center;
}

.table tr:nth-child(even){
  background-color: #f2f2f2;
}

.btn {
border: none; 
color: white; 
padding: 10px 20px; 
cursor: pointer;
border-radius: 4px;
}

.btn.add {
  background-color: #2196F3;
}

.btn.save {
  background-color: #7521f3;
  margin-top: 30px;
} 

.btn.delete {
  background-color: #f44336;
  padding: 10px 10px;
}

.btn.edit {
  background-color: #04AA6D;
  padding: 10px 10px;
}

.form table {
  width: 100%;
}

.form table td, th {
padding: 10px;
}

.form label {
display: inline-block;
width: 20px;
text-align: left;
}

.form input, option, select {
width: 100%;
box-sizing: border-box;
padding-top: 4px;
padding-bottom: 4px;
border: 1px solid #999;
border-radius: 2px;
height: 2.5em ;
}
